PORT=3009
TCP_PORT=3010

AUTH_HOST=localhost
AUTH_PORT=3002

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=esales-media
MINIO_USE_SSL=false

KAFKA_BROKER=localhost:9093
REDIS_URL=redis://localhost:6380
