PORT=3009
TCP_PORT=3010

AUTH_HOST=auth
AUTH_PORT=3002

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=esales-media
MINIO_USE_SSL=false

KAFKA_BROKER=kafka:9092
REDIS_URL=redis://redis:6379
