DATABASE_URL=postgresql://postgres:postgres@localhost:5433/products
PORT=3005
TCP_PORT=3006

AUTH_HOST=localhost
AUTH_PORT=3002

MEDIA_HOST=localhost
MEDIA_PORT=3010

KAFKA_BROKER=localhost:9093
REDIS_URL=redis://localhost:6380
