DATABASE_URL=postgresql://postgres:postgres@postgres:5432/products
PORT=3005
TCP_PORT=3006

AUTH_HOST=auth
AUTH_PORT=3002

MEDIA_HOST=media
MEDIA_PORT=3010

KAFKA_BROKER=kafka:9092
REDIS_URL=redis://redis:6379
